{{ if site.Params.comments.enabled }}
{{ if eq site.Params.comments.provider "giscus" }}
<script src="https://giscus.app/client.js"
    data-repo="{{ site.Params.comments.giscus.repo }}"
    data-repo-id="{{ site.Params.comments.giscus.repoId }}"
    data-category="{{ site.Params.comments.giscus.category }}"
    data-category-id="{{ site.Params.comments.giscus.categoryId }}"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
</script>
{{ end }}
{{ end }}
